<!DOCTYPE html>
<html>

<head>
 <meta http-equiv="content-type" content="text/html; charset=utf-8" />
 <title>Alex He - {{ page.title }}</title>
 <meta name="author" content="Alex He" />
 <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8"/>
 <link rel="stylesheet" href="/stylesheets/vibrant_ink.css" type="text/css" media="screen" charset="utf-8"/>
 <script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
 <script src="/javascripts/jquery.github.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>

  <div id="site">
    <div id="header">      
      <h1>思想有多远，我们就能走多远</h1>
      <!--<h1>感受过程之美</h1>-->
      <div id="menu">        
        <a href="http://www.zhulin.org.cn">Alex He的博客</a>      
        <a href="/archives.html" id="blog_link">档案</a>      
        <a href="/about_me.html" id="about_me">关于我</a>
      </div>
    </div>  
    <div class = "clearfix"/>

    <div id="content">
      {{ content }}
    </div>

    <hr/>
    <div id="footer">
      <div id="footer-inner">
        <div id="footer-content">
          <p>
            <a href="/contact.html">联系方式</a> | zhulin.org.cn 2014
          </p>
        </div>
      </div>
    </div>    
  </div>

</body>

</html>